<!-- 글 목록 보이는 페이지 -->
{{> layout/header}}

<section>
    <!-- 표 -->
    <table border="1"> <!-- border로 테두리 설정 -->
        <tr>
            <!-- 표의 헤더 -->
            <th>번호</th>
            <th>제목</th>
            <th></th>
        </tr>

        <tr>
            <!-- 표의 바디 -->
            <td>제목1</td>
            <td>내용1</td>
            <td><a href="/board/1">상세보기</a></td>
        </tr>
    </table>
</section>

</body>
</html>